<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat!</title>
    <link rel="stylesheet" href="assets/css/chat.css"/>
</head>

<body>
    <div style="padding: 0.5em">
        <h1>Chat!</h3>
        <button id="btn_connect" class="btn">Connect</button>
        Status: <span id="span_status">disconnected</span>
    </div>

    <div id="div_log"></div>

    <div id="form">
        <input id="input_text" type="text" />
        <input id="btn_send" class="btn" type="button" value="Send" />
    </div>

    <script src="/assets/js/chat.js"></script>
</body>
</html>
